*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none ;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    padding: 20px 10%  ;
}

.logo img{
    
    max-width: 130px;
    height: auto;

}

.nvmenu{
    display: flex;

}

.nvmenu a{
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition:  all .42s ease;
}

.nvmenu a:hover{
    color: red;
    font-size: 20px;

}

.nv-icon{
    display: flex;
    align-items: center;

}

.nv-icon i{
    margin-right: 20px;
    color: black;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nv-icon i:hover{
    transform: scale(1.1);
    color: red;
    font-size: 30px;
    
}

#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(img2.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center; 

}

.main-home h5{
    color: red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-home h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

}

.main-text p{
    color: black;
    font-size: 20px;
    font-style:italic;
    margin: 20px;
}

.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 12px 25px;
    transition: all .42s ease;

}

.main-btn:hover{
    background-color: black;
    color: white;

}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover{
    background-color: black;
    color: white;
    transition: all .42s;

}

header.sticky {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition:  0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    padding: 10px 6px; /* Adjust padding if needed */
}

.logo.sticky {
    transform: translateX(100px); /* Adjust the Y position as needed */
    transition: transform 0.3s ease; /* Smooth transition */
}

header.sticky .nvmenu {
    transform: translateX(100px); /* Adjust the Y position as needed */ /* Keeps the menu aligned to the right */
}

header.sticky .nv-icon {
    margin-right: 100px; /* Keeps the icons spaced from the right */
}

.nv-icon.sticky {
    transform: translateX(-100px); /* Adjust the Y position as needed */
    transition: transform 0.3s ease; /* Smooth transition */
}


.center-text h2{
    color:black;
    font-size:28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span{
    color: red;
}

.clothes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row{
    position:relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.9);
}


.clothes-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: green;
    padding: 3px 10px;
    border-radius: 2px;

}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon :hover{
    color: red;
}

.rate i{
    color: #ff8c00;
    font-size: 18px;
}

.price h4{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;

}

.price p{
    color: black;
    font-size: 14px;
}

.review{
    text-align: center;

}

.review h3{
    color: black;
    font-size:  25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;

}
/*
.review img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}
*/

.review p{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px;
}

.review h2{
    font-size: 22px;
    color: black;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}


.update h2{
    text-align: center;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}

.cart img{
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.update{
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(380px, auto);
    gap: 1rem;
}

.cart h5{
    color: grey;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart p{
    color: grey;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

.cart h6{
    color: black;
    font-size: 14px;
    font-weight: 500;
}


.contact{
    background-color: #f3f4f6;
}

.contact-info{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 0px;

}

.first-info img{
    width: 180px;
    height: auto;
}

.contact-info{
    color: rgb(32, 32, 32);
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p{
    text-align: left;
    color: #6d6e6e;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover{
    color: red;
    cursor: pointer;
}

.social-icon i{
    color: #494949;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon:hover{
    transform: scale(1.3);
}


.copyright{
    background-color: #f3f4f6;
    text-align: center;
}

.copyright p{
    color: black;
    text-transform: capitalize;
}


@media (max-width:890px) {
    header{
        padding:20px 3%;
        transition: .4s;
    }
}

@media (maxwidth:630px) {

    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }

    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding:  10px 20px;
        transition: .4s;
    }
    
}

@media(max-width:750px){
    .nvmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: .4s;
    }
}

.nvmenu a{
    display: block;
    margin: 18px 0;
}

.nvmenu.open{
    right: 0;
}